.left-header .mega-menu .nav-link.active {
    border-bottom: 2px solid white;
    color: #fff;
    background-color: #7366ff00;
}

.active{
    border-bottom: 2px solid white;
    color: #fff;
    background-color: #7366ff00;
}