/* CUSTOM CSS CODE */

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper {
    background: linear-gradient(360deg, #1b73e8, rgb(37 102 209 / 62%)), url(./assets/images/sidebar_bg_custom.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}

.page-wrapper .sidebar-main-title p {
    color: #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li a {
    color: #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links li a span {
    color: #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li a svg {
    color: #ffffff;
}

.toggle-sidebar svg {
    color: white;
}

.page-wrapper.compact-wrapper .page-body-wrapper .according-menu i {
    color: rgb(255 255 255 / 80%);
}

.custom-menu-icon-size {
    font-size: 19px;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-submenu li a {
    color: #1a68d2;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-submenu li a:after {
    border-top: 2px solid #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active {
    background: linear-gradient(360deg, rgb(255 255 255 / 51%) 0%, rgb(255 255 255) 100%);
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active span {
    color: #1b73e8;
}

a.sidebar-link.sidebar-title.active i {
    color: #1b73e8;
}

a {
    font-size: 0.875rem;
    color: #1b73e8;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-submenu {

    background: linear-gradient(180deg, rgb(255 255 255 / 73%) 0%, rgb(255 255 255 / 77%) 100%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-submenu li:hover>a {
    color: #1b73e8;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li:hover .sidebar-link:not(.active):hover span {
    color: #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li:hover .sidebar-link:not(.active):hover .according-menu i {
    color: #ffffff;
}



.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li:hover .sidebar-link:not(.active):hover svg {
    stroke: #ffffff;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active svg {
    color: #1b73e8;
}

.left-header .mega-menu .nav-link {
    background-color: rgb(115 102 255 / 0%);
    font-size: 16px;
    color: #ffffff;
}

.left-header .horizontal-menu li a:hover {
    color: #1d6ad2;
}



.page-wrapper .page-header {

    /*background: linear-gradient(360deg, #1b73e8, rgb(37 102 209 / 62%)), url(https://www.planetgold.org/sites/default/files/2019-11/burkina%20faso%20banner%20image.png);
      background-position: center center;
    background-size: cover;
    */
    background-color: #1b73e8;

}

.page-wrapper .page-header .header-wrapper .nav-right>ul>li {
    color: #ffffff;
}

.page-wrapper .page-header .header-wrapper .nav-right.right-header ul li .profile-media .media-body p {
    color: rgb(255 255 255 / 92%);
}

.left-header .horizontal-menu li a:hover {
    color: #ffffff;
    border-bottom: 2px solid white;
}

.left-header .mega-menu .nav-link.active {
    border-bottom: 2px solid white;
    color: #fff;
    background-color: #7366ff00;
}

.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown {
    width: 190px;
}

.login-card {
    background: linear-gradient(0deg, #062270, rgb(11 38 113 / 59%)), url(assets/images/login/login_bg_custom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a:hover {
    text-decoration: none;
    color: #146adb;
}

.login-card .login-main .theme-form input:hover,
.login-card .login-main .theme-form input:focus {
    border: 1px solid #1b73e847;
}

@media only screen and (max-width: 1199.98px) {
    .login-card {
        background: linear-gradient(0deg, #062270, rgb(11 38 113 / 59%)), url(assets/images/login/login_bg_custom.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

}

.btn-primary {
    background-color: #1b73e8 !important;
    border-color: #1b73e8 !important;
}


.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list:hover>a:hover {
    background: linear-gradient(360deg, rgb(255 255 255 / 51%) 0%, rgb(255 255 255) 100%);
}



/*.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list:hover>a:hover i {
    color: #1b73e8;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list:hover>a>span {
    color: #1b73e8;
}*/

.login-card .login-main .theme-form input {
    background-color: #1b73e808;
}

.show-hide span {
    color: #1b73e8;
}

.page-wrapper .page-body-wrapper {
    /* background-color: #f8f8f8; */
    background: url(./../images/fond.png);
    background-repeat: repeat;
}


.social-icons-custom {
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px;
    background: linear-gradient(360deg, rgb(255 255 255 / 51%) 0%, rgb(255 255 255) 100%);

}


.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown li:hover a span {
    color: #1b73e8;
}

.page-wrapper .page-header .header-wrapper .nav-right ul li svg {
    stroke: white;
}

.toggle-sidebar:hover>svg {
    color: #ffffff !important;
    stroke: #ffffff !important;
}

.toggle-sidebar:before {

    background-color: rgb(255 255 255 / 16%);
}

.custom-accordeon {
    background-color: #1b73e8;
    color: #ffffff;
    width: 100%;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #1b73e8;
}

.accordion-body {
    background-color: white;
}

.page-wrapper .page-header .header-wrapper {
    padding: 8px 30px;
}

.accordion-button.collapsed {
    background: #1b73e8;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

