<!-- Maintenance start-->
<div class="error-wrapper maintenance-bg">
    <div class="container">
        <ul class="maintenance-icons">
            <li><i class="fa fa-cog"></i></li>
            <li><i class="fa fa-cog"></i></li>
            <li><i class="fa fa-cog"></i></li>
        </ul>
        <div class="maintenance-heading">
            <h2 class="headline">MAINTENANCE</h2>
        </div>
        <h4 class="sub-content">Site actuellement en maintenance veuillez ressayer plutard<br> 
            Merci de patienter</h4>
        <div><a class="btn btn-primary-gradien btn-lg text-light" routerLink=''>Revenir à la page d'accueil</a></div>
    </div>
</div>
<!-- Maintenance end-->