<!-- footer start-->
<footer [ngClass]="router.url === '/home' ? 'footer footer-custom' : 'footer'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 footer-copyright text-center">
        <p class="mb-0">© MTDPCE/DCE 2023 All Rights Reserved</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">CGU</a></li>
          <li class="list-inline-item"><a href="#">Source</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
          <li class="list-inline-item"><a href="#">Forum</a></li>
          <li class="list-inline-item"><a href="#">À propos</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>