<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="position-absolute p-5 rounded-3" style="z-index: 9999">
        <div class="card-body default-accordion">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span class="text-white">CONSESSIONNAIRES ET LOCALITES</span>
              </ng-template>
              <ng-template ngbPanelContent>
                Web design<em class="txt-danger"> identifies the goals</em> of a
                website or webpage and promotes accessibility for all potential
                users. This process involves organizing content and images
                across a series of pages and integrating applications and other
                interactive elements.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 align-items-end">
      <div class="z-9999 position-absolute p-5 rounded-3" style="z-index: 9999">
        <div>
          <div
            class="row"
            style="
              background-color: #1b73e8;
              padding: 7px;
              border-radius: 4px;
              color: #ffffff;
              align-items: center;
              width: 294px;
            "
          >
            <div class="col-md-5">DONNEES DU</div>
            <div class="col-md-7">
              <select class="form-select digits" id="exampleFormControlSelect9">
                <option>T3 2023</option>
                <option>T2 2023</option>
                <option>T1 2023</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iframe
    class="responsive-iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124715.66729307044!2d-1.5368433000000001!3d12.35849205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe2e95ecceaa44cd%3A0x799f67799c743b8b!2sOuagadougou!5e0!3m2!1sen!2sbf!4v1691401657414!5m2!1sen!2sbf"
    width="100%"
    height="1080"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
